.homepage-blog {
  margin-bottom: 30px;

  &__title {
    color: var(--redCarambalColor);
    font-size: 2.4rem;
    line-height: 3;
    position: relative;
    text-align: center;
    font-weight: normal;

    &::before {
      content: "";
      border-top: 3px;
      height: 1px;
      width: 40px;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      background: var(--redCarambalColor);
    }
  }

  &__list {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
    margin: 0;
    padding: 0;


    @media (--mobile) {
      display: block;
      padding: 0 15px;
    }
  }

  &__item {
    display: flex;
    position: relative;
    flex-direction: column;
    list-style: none;
    width: 30%;
    max-width: 500px;
    min-width: 250px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.1);

    & .postSummary {
      flex: 1 0 auto;
    }

    @media (--mobile) {
      width: 100%;
      margin-bottom: 25px;
    }
  }

}