<nav class="skip_links" aria-label="lien rapide">
    <a href="#main-content">Aller au contenu principal</a>
</nav>

<header class="header">
    <nav class="header__nav">
        <a href="/" class="header__home">
            <img class="header__logo" src="./images/carambal.svg" alt="Carambal" />
        </a>

        <ul class="header__list">
            <li class="header__item"><a href="" class="header__link">Accueil</a></li>
            <li class="header__item"><a href="" class="header__link">A propos</a></li>
            <li class="header__item"><a href="" class="header__link">Blog</a></li>
            <li class="header__item"><a href="" class="header__link">Bénévoles</a></li>
        </ul>
    </nav>
</header>
