<aside class="newsletterBar">
    <form class="newsletterBar_form">
        <h2 class="newsletterBar_title">Inscription à la newsletter</h2>
        <div class="field_wrapper">
            <label class="label" for="firstname">Prénom</label>
            <span class="input_wrapper"><input class="input" type="text" id="firstname"/></span>
        </div>
        <div class="field_wrapper">
            <label class="label" for="lastname">Nom</label>
            <span class="input_wrapper"><input class="input" type="text" id="lastname"/></span>
        </div>
        <div class="field_wrapper">
            <label class="label" for="email">Courriel</label>
            <span class="input_wrapper"><input class="input" type="email" id="email"/></span>
        </div>
        <input class="button newsletterBar_submit" type="submit" value="Je m'inscris"/>
    </form>

    <a href="#">À propos des newsletters Carambal</a>
    <a href="#">Se désabonner</a>
</aside>