<aside class="socialBar">
    <h2 class="socialBar__title">Retrouvez-nous sur les réseaux sociaux</h2>
    <ul class="socialBar__list">
        <li class="socialBar__item">
            <a class="socialBar__link socialBar__link--facebook" href="https://www.facebook.com/carambal.fr/">
                <p class="visually-hidden">Voir la page Facebook de Carambal</p>
                <img src="./images/facebookLogo.svg" alt="Facebook" />
            </a>
        </li>
        <li class="socialBar__item">
            <a class="socialBar__link socialBar__link--youtube" href="https://www.youtube.com/user/CarambalFolk/">
                <p class="visually-hidden">Voir la chaîne Youtube de Carambal</p>
                <img src="./images/youtubeLogo.svg" alt="Youtube" />
            </a>
        </li>
        <li class="socialBar__item">
            <a class="socialBar__link socialBar__link--twitter"  href="https://twitter.com/carambal">
                <p class="visually-hidden">Voir le profil Twitter de Carambal</p>
                <img src="./images/twitterLogo.svg" alt="Twitter" />
            </a>
        </li>
        <li class="socialBar__item">
            <a class="socialBar__link socialBar__link--soundcloud" href="https://soundcloud.com/carambal">
                <p class="visually-hidden">Voir le profil SoundCloud de Carambal</p>
                <img src="./images/soundcloudLogo.svg" alt="SoundCloud" />
            </a>
        </li>
    </ul>
</aside>